body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f5f5f5;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #d67f34;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background 0.3s;
}

nav ul li.active, nav ul li:hover {
    background-color: #f0e6d2;
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.shelf {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.book p {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}